.container {
    font-family: Roboto;
    background-color: #1f2937;
    margin: 0;
}
.header {color:#f9faf8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .logo {
    font-size: 48px;
    font-weight: 900px;
}
.banner {
background-color: #1f2937;
margin: 0;
}