body {
    margin:0;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 16px;
}

button{background-color: #3882f6;
    color: white;
    border: white;
}

b {
    text-align: left;
}

.image {width: 200px;
height: 150px;
background-color: #d3d3d3;
}

.container {
    color: #f9faf8;
    font-family: Roboto;
    background-color: #1f2937;
    margin: 0;
    padding: 5px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .logo {
    font-size: 48px;
    font-weight: 900px;
}
.banner {
background-color: #1f2937;
margin: 0;
padding: 30px;
display: flex;
flex-direction: row;
justify-content: center;
gap: 10px;
}

.body h3 {
    text-align: center;
}

.info {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    text-align: left;
}

.rounded-corners {
border-radius: 15px;
width: 150px;
height: 150px;
border: 2px solid #3882f6;
}

.pics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.img {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    justify-content: center;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    padding: 50px;
    justify-items: center;
}

.quote p {
    width: 450px;
}

.action {
    background-color: #3882f6;
    color: white;
    padding: 20px;
    margin: 40px;
    flex-direction: row;
}

.container p {
    text-align: center;

}
